.fallback-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; 
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.3s ease-in-out;
}
