$primary-color: #59018b;
$hover-color: #490272;
$active-color: #410464;

$reg-primary-color: #bf80e4;
$reg-hover-color: #a26ec0;
$reg-active-color: #9368ac;

.login {
    margin-bottom: 7px;
    background-color: $primary-color !important;
    color: white;

    &:hover {
        background-color: $hover-color !important;
        color: white;
    }

    &:active {
        background-color: $active-color !important;
        color: white;
    }
}

.register {
    margin-bottom: 7px;
    background-color: $reg-primary-color !important;
    color: white;

    &:hover {
        background-color: $reg-hover-color !important;
        color: white;
    }

    &:active {
        background-color: $reg-active-color !important;
        color: white;
    }
}


.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.altdiv {
    max-width: 1200px;
    margin: auto;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.altdiv2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.imagediv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

.alt-image-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    border: none;
}

.alt-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: none;
}

.form-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    text-align: center;
}

.alt-form-image.div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-image{
    width: 100px;
    height: auto;
}

.form{
    width: 100%;
    margin-top: 16px;
}

.forgot-password-div{
    margin: 10px 0px 15px 0px;
    align-items: right;
    width: 100%;
}

.forgot-password{
    color: #59018b;
    text-decoration: none;
}

.hr{
    width: 95%;
    background: #e0e0e0;
    border: 1;
    height: 1px;
    margin: 0 15px
}


@media (max-width: 768px) {
  .imagediv {
    display: none !important;
  }
}