.perreg-form-role-div{
    width : 100%;
    height : 40px;
    margin-top : 14px;
    background: var(--id-bg-elevated, #EEF5F9);
    border : 1px solid var(--id-border, #c7c7c7);
    border-radius : 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &:hover{
        border : 1px solid var(--id-primary, #59018b);
    }
}

.perreg-form-role-div select,
.perreg-form-role-div .form-select {
    background: transparent;
    color: var(--id-text, #0f172a);
}

.perreg-form-sex-div{
    width : 100%;
    height : 40px;
    margin-top : 14px;
    background: var(--id-bg-elevated, #EEF5F9);
    border : 1px solid var(--id-border, #c7c7c7);
    border-radius : 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
    &:hover{
        border : 1px solid var(--id-primary, #59018b);
    }
}

.perreg-form-sex-div input[type="radio"]{
    accent-color: var(--id-primary, #59018b);
}


.perreg-label{
    width: 100px;
    height: 55px;
    margin-top: 10px;
    font-size: 18px;
    color: var(--id-text-muted, rgba(15, 23, 42, 0.65));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;

}

.perreg-label2{
    width: 65px;
    height: 55px;
    margin-top: 10px;
    font-size: 18px;
    color: var(--id-text, #0f172a);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0%;

}

.perreg-date{
    width : 100%;
    margin-right : 1%;
    margin-top : 9px;
}

.perreg-relative-container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
.perreg-custom-label {
    font-family: 'Poppins';
    position: absolute;
    top: -10px;
    left: 10px;
    background: var(--id-bg-elevated, #EEF5F9);
    padding: 0 5px;
    font-size: 13px;
    color: var(--id-text-muted, rgba(15, 23, 42, 0.65));
  }

  .perreg-custom-label-2 {
    position: absolute;
    top: -10px;
    left: 10px;
        background: var(--id-bg-elevated, #EEF5F9);
    padding: 0 5px;
    font-size: 13px;
        color: var(--id-text-muted, rgba(15, 23, 42, 0.65));
}

.perreg-radio-div{
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    z-index: 2;
}