.pro-main-div {
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #f1f1f175;
  box-sizing: border-box;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
}

.pro-alt-div {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
    padding-top: 10px;
  }
}

.pro-alt-form-div {
  background-color: white;
  height: 100%;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
    max-width: calc(100% - 40px);
    border-radius: 10px;
    border-top-left-radius: 0;
    margin-top: 10px;
  }
}
