$primary-color: #59018b;
$hover-color: #490272;
$active-color: #410464;

$reg-primary-color: #bf80e4;
$reg-hover-color: #a26ec0;
$reg-active-color: #9368ac;

.login {
    margin-bottom: 7px;
    background-color: $primary-color !important;
    color: white;

    &:hover {
        background-color: $hover-color !important;
        color: white;
    }

    &:active {
        background-color: $active-color !important;
        color: white;
    }
}

.reg-register {
    margin-bottom: 7px;
    background-color: $reg-primary-color !important;
    color: white;

    &:hover {
        background-color: $reg-hover-color !important;
        color: white;
    }

    &:active {
        background-color: $reg-active-color !important;
        color: white;
    }
}

.reg-maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.reg-altdiv {
    max-width: 750px;
    margin: auto;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.reg-altdiv2 {
    display: flex;
    width: 100%;
    height: 100%;
}


.reg-form-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: none;
}

.reg-form-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    text-align: center;
}

.reg-alt-form-image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-form-image{
    width: 100px;
    height: auto;
}

.reg-form{
    width: 100%;
    margin-top: 16px;
}

