.pageWrapper {
  min-height: 94vh;
  margin-top: 60px;
  display: flex;
}

.contentArea {
  flex-grow: 1;
  margin-left: $sidebarWidth;
}

@media (max-width: 991.98px) {
  .contentArea {
    margin-left: 0;
  }
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}

.table>:not(:first-child) {
  border-top: 2px solid;
}
.table-borderless>:not(:first-child) {
  border-top-width: 0;
}