.sidebarArea {
  position: fixed;
  top: 60px; // header yüksekliği kadar
  left: 0;
  width: $sidebarWidth;
  height: calc(100vh - 60px); // header'ın altını kapsasın
  background-color: var(--sidebar-bg, $sidebarColor);
  overflow-y: auto;
  z-index: 999;
  flex-shrink: 0;
  transition: all 0.6s ease;

  .sidenav-bg:hover {
    background-color: var(--sidebar-hover-bg, $gray-100);
    border-radius: $border-radius;
    transition: all 0.3s ease;
  }
}

// Küçük ekranlar için: Açılıp kapanma özelliği devam etsin
@include media-breakpoint-down(lg) {
  .sidebarArea {
    margin-left: -$sidebarWidth;
    transition: margin-left 0.2s ease-in;

    &.showSidebar {
      margin-left: 0;
    }
  }
}
